@charset "ISO-8859-1";
/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Dancing+Script:wght@600&family=Merriweather:ital@1&family=Sofia&family=Taviraj:ital,wght@0,300;1,200&display=swap');
:root{
	--primary-color: #45ccb8;
	--light-gray: #2b3032a1;
	--border:  #2b303218;
	--text-color: #ff686b;
	--cantoraone:"Cantora One",cursive;
	--danceingscript:"Dancing Script",cursive;
	--merriweather:"Merriweather",cursive;
	--sofia:"sofia",cursive;
	--taviraj:"Taviraj",cursive;
	
}
.primary-color{
	color:var(--primary-color)
}
.bg-primary-color{
	background-color:var(--primary-color)!important;
}
.text-color{
	color: var(--text-color)
}
.font-cantoraone{
	font-family:var(--cantoraone);
}
.lightblue{
	color: lightblue;
}
/*header*/
header{
	background-color:var(--primary-color);
	font-family:var(--cantoraone);
}
header .site-title{
	font-family:var(--taviraj);
	
}
.container .dropdown-toggle,
.container .dropdown-item{
	font-size:0.7em;
}
.header-links a{
	font-size:0.9em;
	text-decoration:none;
	color: white;
	
}

/*Navigation Menu*/
.navbar-nav{
	padding:0.8em 0em;
	
}
.navbar-nav .nav-link{
	font-size:0.9em;
	color:var(--light-gray) !important;
}
.navbar-nav .nav-item.nav-link{
	padding:0 1.3em;
}
.navbar-nav .basket-icon{
	margin-right:6.5rem !important;
}

/*Slider one*/

.site-slider{
	position: relative;
}

.position-top{
	position: absolute;
	top:45% !important;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
	background-color:var(--primary-color);
	padding:1rem 1.5rem;
	border-radius:10rem;
	color:white;
	margin:0 1rem;
	opacity:0;
	transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
	opacity:1;
}

.right-0{
	right:0;
}

/*Slick Dots*/
.slick-dots{
	display:flex;
	justify-content:center;
	margin:0;
	padding:1rem o;
	list-style-type:none;
	position:absolute;
	bottom: 0;
	right: 45%
}

.slick-dots li{
	margin: 0 0.6rem;
}

.slick-dots button{
	display: block;
	width: 0.75rem;
	height: 0.75rem;
	padding:0;
	border:none;
	background-color: white;
	text-indent: -99999px;
	border-radius:100%;
}

.slick-dots li.slick-active button{
	transform:scal(2.5);
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.205)
}

/*slider two*/
.site-slider-two{
    position: relative;
    height: 30%;
}
.site-slider-two .product{
    height: 25rem !important;
    position: relative;
    overflow: hidden;
}
.site-slider-two .product img{
    width: 90%;
    margin: auto;
}
.site-btn.btn-span{
    padding: 0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--primary-color);
    background-color: white;
    color: var(--light-gray);

}
.slider-two .slick-track .product:hover span{
    background-color: var(--primary-color);
}




/*slider wrapper test*/
.post-slider{
    border: 1px black solid;
    position: relative;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0 auto;
    border: 1px red dotted;
}

.post-slider .post-wrapper .post{
    width: 300px;
    height: 350px;
    display: inline-block;
    
}

.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .post img{
    text-align: center;
    margin: 0 10px;
    width: 480px;
    height: 340px;
}

.post-slider .prev{
    position: absolute;
    top: 50%;
}

.post-slider .next{
    position: absolute;
    top: 50%;
}

.right-0{
    right: 0;
}







